Body {
    background-image: url(https://images.unsplash.com/photo-1532799044142-bace80c88320?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80);
}
#title{
    text-align:center;
    color:white;
}
#query{
    text-align:center;
}
#searchResults {
    visibility: hidden;
}

#time {
    visibility: hidden;
}
